<div class="container">
  <ng-container *ngIf="showList$ | async as showList">
    <div class="grid">
      <div class="col-12">
        <p-iconfield iconposition="left" class="p-iconfield p-iconfield-left">
          <p-inputicon class="pi pi-search"></p-inputicon>
          <input type="text" pInputText pSize="large" class="p-inputtext p-component" [(ngModel)]="searchValue" (change)="searchChanged()" />
          <button (click)="searchChanged()" pButton label="Search" size="large" rounded="true"></button>
        </p-iconfield>
      </div>
      
      <div class="col-2" *ngFor="let show of showList.results">
        <app-show-item [showItem]="show" [showType]="showsType"></app-show-item>
      </div>

        <div class="col-12">
          <p-paginator
            (onPageChange)="pageChanged($event)"
            [rows]="20"
            [totalRecords]="showList.total_results"
          ></p-paginator>
        </div>
      </div>
  </ng-container>
</div>